body {
    margin: 0;
    font-family: "Roboto";
    background-color: rgb(22, 22, 22);
}

html {
    scroll-behavior: smooth;
}

.header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 30);
    padding: 0 1rem 0 1rem;
}

.nav-logo {
    color: rgb(198, 198, 198);
    text-decoration: none;
}

.nav-logo:hover, .nav-link:hover {
    color: rgb(18, 55, 167);
}

.nav-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: rgb(198, 198, 198);
    text-decoration: none;
}

ul {
    display: inline-block;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(198, 198, 198);
}

.introduction {
    justify-content: center;
    height: 100vh;
    position: relative;
}

video {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(198, 198, 198);
    z-index: 1;
}

.wrapper {
    display: flex;
    place-items: center;
  }
  
.typewriter {
    width: 410px;
    animation: typing 3s steps(30), blink .5s step-end infinite alternate;
    font-family: "Roboto";
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-size: 35px;
}
  
@keyframes typing {
    from {
        width: 0
    }
}
      
@keyframes blink {
    50% {
    border-color: transparent
    }
}

.highlight {
    color:rgb(18, 55, 167);
}

.introSub {
    font-size: 25px;
}

.enterBtn {
    display: flex;
    flex-direction: row;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: rgb(198, 198, 198);
    border: 2px rgb(198, 198, 198) solid;
    font-size: 20px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.enterBtn:hover {
    background-color:rgb(18, 55, 167);
    border-color: rgb(18, 55, 167);
    transition: 0.5s all;
}

.enterBtn:hover .material-symbols-outlined {
    transform: rotate(90deg);
    transition: 0.5s all;
}

.biography {
    background-color: rgb(22, 22, 22);
    color: rgb(198, 198, 198);
}

.aboutMeTitle {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-weight: 1000;
    color: white;
    padding: 2rem 0 0 4rem;
}

.bioContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.summary {
    width: 40%;
    font-size: 18px;
    padding: 1rem;
}

.profilePic {
    height: 400px;
    border-radius: 50%;
    margin: 1rem;
}

.projects {
    background-color: rgb(30, 30, 30);
    font-family: 'Roboto';
}

.projectsTitle {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    font-weight: 1000;
    color: white;
    padding: 2rem 4rem 2rem 0;
}

.projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2rem;
}

.card {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid rgb(198, 198, 198);
    position: relative;
    margin-bottom: 1rem;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #3a3a3ac8;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.card:hover .card-body {
    right: 0;
}

.technologyList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;
}

.card-title {
    font-weight: 500;
    padding: 1rem;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
    padding: 1rem;
}

.card-btn {
    color: #1f3d47;
    background: #8fabba;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    margin: 0 1rem 1rem 1rem;
}

.card-btn:hover {
    color: #fff;
}

.contacts {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
}

.contactsTitle {
    font-size: 36px;
    font-weight: 1000;
    color: white;
    padding: 2rem 0 2rem 4rem;
}

.contactMe {
    display: flex;
    justify-content: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.name, .email, .message {
    width: 100%;
    border: 2px solid rgb(198, 198, 198);
    border-radius: 5px;
    line-height: 2rem;
    margin-top: 0.5rem;
    background-color: transparent;
    color: rgb(198, 198, 198);
}

input, textarea {
    font-family: Roboto;
}

input::placeholder {
    padding-left: 1rem;
    color: rgba(198, 198, 198, 0.578);
}
textarea::placeholder {
    padding-left: 1rem;
    color: rgba(198, 198, 198, 0.578);
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.message {
    resize: none;
    height: 150px;
}

.formBtn {
    display: flex;
    flex-direction: row;
    width: 10rem;
    justify-content: space-between;
    background-color: transparent;
    color: rgb(198, 198, 198);
    border: 2px rgb(198, 198, 198) solid;
    border-radius: 5px;
    font-size: 15px;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

.formBtn:hover {
    color: rgb(22, 22, 22);
    background-color:rgb(198, 198, 198);
    border-color: rgb(198, 198, 198);
    transition: 0.5s all;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    background-color: rgb(30, 30, 30);
}


/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 420px) {
    .typewriter {
        width: 305px;
        font-size: 26px;
    }

    .introSub {
        font-size: 20px;
    }
    
    .enterBtn {
        width: 8em;
        font-size: 15px;
    }

    .aboutMeTitle, .contactsTitle {
        padding: 2rem 0 2rem 2rem;
    }

    .projectsTitle {
    padding: 2rem 2rem 2rem 0;

    }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 540px) {

    .bioContent {
        flex-direction: column;
    }

    .summary {
        width: 80%;
    }

    .profilePic {
        height: 200px;
    }

    .navbar {
        padding: 1rem;
    }

    .nav-menu {
        position: absolute;
        left: -130%;
        top: 2.84rem;
        flex-direction: column;
        /* backdrop-filter: blur(15px); */
        background-color: rgb(30, 30, 30);
        width: 100%;
        border-radius: 0 0 5px 5px;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        border-top: 1px solid white;
        position: absolute;
        padding-left: 0;
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {

    .profilePic {
        height: 300px;
    }

    .contactForm {
        width: 75%;
    }

}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {

}   